   <div class="card">
        <h3 class="card-header">Sign Up</h3>
    <form action="/register" method="post">
        <fieldset>
            <legend>Register</legend>
            <label for="fullname">Please Enter Full Name</label>
            <input type="text" name="fullname" id="username"/>
            <label for="username">Please Enter Username</label>
            <input type="text" name="username" id="username"/>
            <label for="email">email</label>
            <input type="text" name="email" id="email"/>
            <label for="password">Password</label>
            <input type="text" name="password" id="password1"/>
            <label for="password">Confirm Password</label>
            <input type="text" name="password" id="password2"/>
            <div>
                    <label for="bio">About Me</label>
                    <textarea type="text" name="bio" id="bio"cols="30" rows="10"/> tell us about yourself...</textarea>
                    <input type="submit" value="Log In">
            </div>
            <input type="submit" value="Log In">
        </fieldset>
    </form>
</div>

<script src="/script/register.js"></script>